{% extends '_base.html' %}
{% load form_helpers %}

{% block content %}
<div class="row" style="margin-top: {% if settings.BANNER_LOGIN %}100{% else %}150{% endif %}px;">
    <div class="col-sm-4 col-sm-offset-4">
        {% if settings.BANNER_LOGIN %}
            <div style="margin-bottom: 25px">
                {{ settings.BANNER_LOGIN|safe }}
            </div>
        {% endif %}
        {% if form.non_field_errors %}
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>Errors</strong></div>
                <div class="panel-body">
                    {{ form.non_field_errors }}
                </div>
            </div>
        {% endif %}
        <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <form action="{% url 'login' %}" method="post" class="form form-horizontal">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Log In</h4>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                {% if 'next' in request.GET %}<input type="hidden" name="next" value="{{ request.GET.next }}" />{% endif %}
                {% render_form form %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Log In</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
          </form>
        </div><!-- /.modal -->
        <div class="panel panel-default">
          <div class="panel-heading">
              <strong>Log In Options</strong>
          </div>
            <div class="panel-body">
              {% if settings.SAML_ENABLED %}
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginmodal">
                Log In Locally
                </button>
                <a href="/saml2/login" class="btn btn-primary btn-lg">Log In with SAML</a>
              {% else %}
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginmodal">
                Log In
                </button>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
